<div id="spinner" style="display: none">
    <p id="loading-spinner" alt="Loading">Loading ...</p>
</div>
<style type="text/css">
    #spinner{
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>

<script>
    $('#previouspage').click(function pageupdate() {
        var pathname = window.location.pathname;
        var currentSearchString = window.location.search;
        var params = {}
        currentSearchString.substr(1).split('&').forEach(pair => {
            [key, value] = pair.split('=')
            params[key] = value
        })
        var pageid = parseInt(params['pageid'] ? params['pageid'] : 1);
        // console.log(params['pageid']);
        pageid -= 1;
        $('#spinner').show();

        $.ajax({
            url: "/projects/" + pageid,
            data: {},
            type: "GET",
            dataType: "html",
            success: function (data) {

                $('#projectslist').html(data);
                window.history.pushState("next page", "", "/pages/?pageid=" + pageid);
            },
            error: function (xhr, status) {
                alert("Sorry, there was a problem!");
            },
            complete: function (xhr, status) {
                $('#spinner').hide();
            }
        });
    });
    $('#nextpage').click(function pageupdate() {
        var pathname = window.location.pathname;
        var currentSearchString = window.location.search;
        var params = {}
        currentSearchString.substr(1).split('&').forEach(pair => {
            [key, value] = pair.split('=')
            params[key] = value
        })
        var pageid = parseInt(params['pageid'] ? params['pageid'] : 1);
        pageid += 1;
        $('#spinner').show();


        $.ajax({
            url: "/projects/" + pageid,
            data: {},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#projectslist').html(data);
                window.history.pushState("next page", "", "/pages/?pageid=" + pageid);
            },
            error: function (xhr, status) {
                alert("Sorry, there was a problem!");
            },
            complete: function (xhr, status) {
                $('#spinner').hide();
                //$('#showresults').slideDown('slow')
            }
        });
    });
</script>