
<div class="mdc-card demo-card demo-ui-control texthide">
        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
          <div class="mdc-card__media mdc-card__media--square demo-card__media" style="background-image: url(&quot;<%=user.image_url%>&quot;);"></div>
          <div class="demo-card__primary">
            <%if(!user.username){%>
        <h2 class="demo-card__title mdc-typography mdc-typography--headline6 show_text_bold">Anonymous</h3>
        <%}else{%>
        <h2 class="demo-card__title mdc-typography mdc-typography--headline6 show_text_bold"><%=user.username%></h2>
    <%}%>
            
          </div>
        </div>
      </div>