<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <% include ../style/style.ejs%>
    <% include ../comment/head.ejs %>
</head>

<body id="index_page" style="background:rgb(27, 26, 26); color:rgb(247, 241, 241)">
    <%- include('../comment/top_bar.ejs',{dataType:dataType,project:''}); %>
    <%- include('projects_grids.ejs',{projects:apiData.projects}); %>
    
    <div style="background:rgb(27, 26, 26); color:#FFF">
        <p class="text-center">
            <span><button id="previouspage" class="mdc-button mdc-button--unelevated"
                    style="background:#00B; color:#FFF">Previous page</button></span>
            <span><button id="nextpage" class="mdc-button mdc-button--unelevated"
                    style="background:#00B; color:#FFF">Next page</button></span>
        </p>
    </div>
    <%- include('../utils/get_New_page.ejs',{lastpage:apiData.last_page}); %>

    <% include ../comment/footer %>
</body>

</html>