<div id="projectslist" class="Project Grids">
    <div class="mdc-layout-grid">
        <% for(let i=0;i<=projects.length-3;i+=3){%>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone"><%- include('project_display_unit.ejs',{project:projects[i]}); %></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone"><%- include('project_display_unit.ejs',{project:projects[i+1]}); %></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone"><%- include('project_display_unit.ejs',{project:projects[i+2]}); %></div>
        </div>
        <%}%>
        </div>
    </div>