<div id="projectslist" class="Project Grids">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell"><%- include('project_display_unit.ejs',{project:projects[0]}); %></div>

        </div>
    </div>
</div>